:root {
  --md-primary-fg-color:               #6CABDD;
  --md-primary-fg-color--light:        #8CC1E5;
  --md-primary-fg-color--dark:         #4A8AB5;
  --md-primary-bg-color:               #FFFFFF;
  --md-primary-bg-color--light:        rgba(255, 255, 255, 0.7);

  --md-accent-fg-color:                #6CABDD;
  --md-accent-fg-color--transparent:   rgba(108, 171, 221, 0.1);
  --md-accent-bg-color:                #FFFFFF;
  --md-accent-bg-color--light:         rgba(255, 255, 255, 0.7);
}